body {
  background-color: var(--bg-page);
}

.movie-detail {
  /* 나중 삭제 */
  margin-top: 20px;
  background-color: darkblue;
  color: #fff;
  /*  */

  display: flex;
  align-items: center;
  width: 100%;
  gap: 42px;
  padding: 48px;
  min-height: 710px;
}

.movie-detail-poster {
  width: 400px;
  aspect-ratio: 2 / 3;
  border-radius: 18px;
  overflow: hidden;
}

.movie-detail-poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.movie-detail-content {
  display: flex;
  flex-flow: nowrap column;
  gap: 30px;
  flex: 1;
  min-width: 0;
}

.movie-detail-title {
  font-size: 60px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.movie-detail-meta {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  row-gap: 24px;
  column-gap: 48px;
  justify-content: start;
  align-items: center;
}

.meta-item {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}

.genre {
  grid-column: 1 / -1;
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.meta-item::before {
  content: none;
}

.year::before,
.runtime::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.year::before {
  background-image: url('../assets/calendar-icon.svg');
}

.runtime::before {
  background-image: url('../assets/runtime-icon.svg');
}

.movie-detail-button {
  display: flex;
  flex-flow: nowrap row;
}

/* 예고편 컴포넌트화 예정 버튼 */
.button-trailer {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #e50914;
  color: white;

  box-shadow: 0 25px 50px -12px rgba(229, 9, 20, 0.3);

  .button-icon {
    position: relative;
    top: 1px;
    width: 18px;
    height: 18px;
  }
}

/* .js-trailer  */
/*  */

.movie-detail-overview {
  .overview-title {
    font-size: 32px;
  }

  p {
    line-height: 1.6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
  }
}
