/* common css 추후 논의 후 코드 정리 필요 */
body {
  background-color: var(--bg-page);
  box-sizing: border-box;
}
a {
  color: white;
  text-decoration: none;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  inline-size: 1280px;
  margin: 0 auto;
  color: white;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

section {
  background-color: var(--bg-section);
}
.prev-btn,
.next-btn {
  display: block;
  border: 1px solid white;
  margin-left: 1rem;
  border-radius: 6px;
  padding: 0.5rem;
}

/* main-page */
section.intro-banner-area {
  background-color: var(--bg-section);
  padding: 3rem;
  block-size: 720px;
  background-color: rgb(0, 187, 255);
}

section.recomand-movies-area {
  position: relative;
  background-color: var(--bg-section);
  padding: 189px 3rem 83px 3rem;
  block-size: 920px;
  /* background-color: rgb(98, 98, 3); */
  overflow: hidden;

  .button-container {
    display: flex;
    justify-content: end;
    margin-bottom: 36px;
  }
}

.card-carousel {
  display: flex;
  overflow: hidden;

  .movie-item-list {
    display: flex;
    gap: 24px;

    .movie-item {
      inline-size: 258px;
      aspect-ratio: 3/2;

      img {
        border-radius: 1rem;
      }

      .movie-title {
        font-size: 18px;
        font-weight: 600;
        margin-top: 1rem;
        margin-left: 2px;
      }

      .movie-open-date {
        color: #6a7282;
        margin-top: 0.5625rem;
      }
    }
  }
}

.quick-move-area {
  /* background-color: blueviolet; */
  padding: 138px 48px 50px 48px;

  .quick-move-wrap {
    display: flex;
    column-gap: 1rem;

    article {
      margin-top: 2rem;
      background-color: red;
      width: 100%;
      border-radius: 1rem;
      aspect-ratio: 1.5/1;

      a {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.advertisement-banner-area {
  /* background-color: tomato; */
  padding: 16px 48px;

  .advertisement-wrap {
    inline-size: 100%;
    block-size: 542.5px;
    border-radius: 20px;
    padding: 1rem;
    background-color: rgb(1, 4, 47);
  }
}

.area-title {
  font-size: 3rem;
}

.upcoming-area {
  .card-carousel {
    display: flex;
    overflow: hidden;

    .movie-item-list {
      display: flex;
      gap: 24px;

      .movie-item {
        inline-size: 129px;
        aspect-ratio: 3/2;

        img {
          border-radius: 1rem;
        }

        .movie-title {
          font-size: 18px;
          font-weight: 600;
          margin-top: 1rem;
          margin-left: 2px;
        }

        .movie-open-date {
          color: #6a7282;
          margin-top: 0.5625rem;
        }
      }
    }
  }
}
